@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: blue;
}

.banner{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../src/assets/images/banner.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 40px;
}


  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
  }

  .chefBanner{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../src/assets/images/chefbanner.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 40px;
  }


.LazyLoad {
  opacity: 0;
  transition: all 4s ease-in-out;
}

.is-visible {
  opacity: 1;
}